@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    padding: 5%;
}

.elem {
  margin-bottom: 5vh
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

main {
    padding-left: 20%;
}

.logo {
    width: 30%
}

.container {
    padding-top: 50px;
    margin: 0 10%;
}

#s1 img {
    width: 55%;
}

h2 {
margin-bottom: 2vh;
font-style: normal;
font-weight: bold;
line-height: 90%;
font-size: 118%;
/* font-size: 124%; */
}

p {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 78%;
line-height: 250%;
color: #9F9F9F;
}

.bad {
  color: #FF0000;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: 40%;
    margin: 20 20px 20px 0;
}
